name: Build and test

on:
  # This is a reusable workflow, not intended to be invoked directly
  workflow_call:
    inputs:
      configuration:
        description: "debug or release (for use with dotnet CLI's -c argument)"
        required: true
        type: string
      version-suffix:
        description: "Version suffix (eg, for a version of 1.2.3-alpha.1, pass, \"-alpha.1\")"
        required: true
        type: string

jobs:
  build-and-test:
    name: Build and test
    runs-on: windows-latest # Must use windows to build the net471 target framework
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Install .NET Core 3.1 and 6
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: | 
            3.1.x
            6.x.x
        
      - name: Install browsers required for Selenium testing
        run: |
          choco upgrade firefox
          choco upgrade googlechrome

      - name: Install NuGet dependencies
        run: dotnet restore
      
      # Enabling this alongside changes to make the existing code consistent is tracked by #33
      # - name: Check formatting
      #   run: dotnet format --verify-no-changes

      - name: Build
        run: dotnet build --no-restore -c ${{ inputs.configuration }} -p:VersionSuffix=${{ inputs.version-suffix }}
      
      - name: Test
        run: dotnet test --no-restore -c ${{ inputs.configuration }} -p:VersionSuffix=${{ inputs.version-suffix }}

      - uses: actions/upload-artifact@v2
        if: ${{ success() || failure() }}
        name: Upload test-results artifact
        with:
          name: test-results
          path: |
            ${{ github.workspace }}/packages/*/test/TestResults
      
      - name: Prepare packages artifact
        run: |
          mkdir ${{ github.workspace }}/packages-artifact
          cp ${{ github.workspace }}/packages/*/src/bin/*/*.nupkg ${{ github.workspace }}/packages-artifact
          cp ${{ github.workspace }}/packages/*/src/bin/*/*.snupkg ${{ github.workspace }}/packages-artifact

      - uses: actions/upload-artifact@v2
        name: Upload packages artifact
        with:
          name: packages
          path: ${{ github.workspace }}/packages-artifact
            
